main h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

main h2 {
    margin-bottom: 15px;
    margin-top: 20px;
}

section {
    margin-bottom: 40px;
}

.trending {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 20px;
    color:var(--color-button-text) ;
}

.trending > a {
    background-color: var(--color-divider);
    padding: 20px;
    border-radius: 8px;
    width: 25%;
    transition: transform 0.3s ease; 

}

.trending > a:hover {
    transform: scale(1.1); 
    cursor: pointer;
}


.andor, .sinners, .conclave {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    min-height: 300px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 4px black;
}
.andor>p, .sinners>p, .conclave>p{
    margin: 0;
    color: white;
    font-size: 12px;
}
.andor>h4, .sinners>h4, .conclave>h4{
    margin: 0;
    color: var(--color-button-text);
    font-size: 32px;
}



.andor{
    background-image: 
    linear-gradient(to top, rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.2)),
    url(bilder/andor.jpg);
}

.conclave{
    background-image: 
    linear-gradient(to top, rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.2)),
    url(bilder/conclave.jpg);
}

.sinners{
    background-image: 
    linear-gradient(to top, rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.2)),
    url(bilder/final.jpg);
}

.navn_rating{
    display: flex;
    flex-direction: row;
}
.colum{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px;
}
.colum>h3{
    font-size: 24px;
}
.stjerne{
    display: flex;
    justify-content: space-between;
}
.tittel{
    font-size: 1.2em;
    font-weight: bold;
}
.rating {
    font-size: 1.2em;
    font-weight: bold;
    color: #c29200;
}

.stjerne {
    border-bottom: 1px solid black;
    margin-top: 20px;
    padding-bottom: 10px;
}



