h1{
    margin-top: 40px;
}
.om {
    display: flex;
    gap: 40px;
    padding: 40px;
    background-color: var(--background);
    color: var(--color-text-primary);
}

.om>div {
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid var(--color-divider);
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.om h3, .om h5 {
    color: var(--color-primary);
    margin-top: 20px;
    margin-bottom: 10px;
}

.om p {
    color: var(--color-text-secondary);
    line-height: 1.6;
    margin-bottom: 10px;
}

.om i {
    font-size: 20px;
    margin-right: 12px;
    color: var(--color-primary);
}

.tekst{
    font-size: 22px;
}

.rating{
    color: #c29200
}

.om i:hover {
    color: var(--color-primary-hover);
    cursor: pointer;
}


.ratings-info {
    padding: 20px;
    background-color: #fff;
    color: var(--color-text-primary);
    max-width: 900px;
    margin: 40px auto;
    border: 1px solid var(--color-divider);
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}


.ratings-info h2 {
    margin-bottom: 20px;
    color: var(--color-primary);
}

.ratings-info h3 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.ratings-info h4 {
    margin-top: 20px;
    margin-bottom: 6px;
    color: var(--color-primary);
}

.ratings-info p {
    line-height: 1.6;
    color: var(--color-text-secondary);
    margin-bottom: 16px;
}

@media screen and (max-width: 800px){
    .om{
        flex-direction: column;
    }
}