@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

:root {
    --color-background: #ffffff;
    --color-text-primary: #333333;
    --color-text-secondary: #666666;
    --color-primary: #007BFF;
    --color-primary-hover: #0056b3;
    --color-button-text: #ffffff;
    --color-input-border: #cccccc;
    --color-divider: #eeeeee;
    --background: Ghostwhite;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}

body {
    background-color: var(--background);
    color: var(--color-text-primary);
    font-family: Arial, sans-serif;
    
}

nav > li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--color-button-text);
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color: var(--color-primary);
}
.logo{
    cursor: pointer;
}


.andre_siden{
    list-style: none;
}

.andre_siden li{
    display: inline-block;
    padding: 0px 20px;
}

.andre_siden li a{
    transition: all 0.3s ease 0s;
}

.andre_siden li a:hover{
    color: wheat;
}

button{
    padding: 9px 25px;
    background-color: var(--color-primary);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
}

.knapp:hover{
    background-color: var(--color-primary-hover);
}


main {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}